@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
  font-family: "Bricolage Grotesque", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.bnormal {
  min-width: 150px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #f57c00;
  padding: 0px 15px;
  font-weight: 600;
  background-color: #ffffff;
  color: #f57c00;
  cursor: pointer;
  box-shadow: 0px 2px 0px rgba(245, 124, 0, 1);
}

.sideitem {
  min-width: 100%;
  height: 48px;
  border-radius: 10px 0px 0px 10px;
  padding: 0px 15px;
  gap: 15px;
  font-weight: 600;
  transition: background-color 0.25s ease;
}

.sideitem:hover {
  background-color: rgba(93, 93, 93, 0.15);
}

.sideitem.active:hover {
  background-color: #f57c00;
  color: #ffffff;
}
